@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: 0 0% 100%;               /* #ffffff */
  --background: 0 0% 100%;         /* #ffffff */
  --foreground: 0 0% 9%;           /* #171717 */
  --primary: 212 94% 68%;          /* #60a5fa (96 165 250) */
  --secondary: 217 92% 60%;        /* #3b82f6 (59 130 246) */
  --muted: 219 17% 47%;            /* #64748b (100 116 139) */
  --card: 0 0% 100%;               /* #ffffff */
  --card-foreground: 0 0% 9%;      /* #171717 */
}

[data-theme='dark'] {
  --base: 0 0% 9%;                 /* #171717 */
  --background: 0 0% 9%;           /* #171717 */
  --foreground: 0 0% 100%;         /* #ffffff */
  --primary: 217 92% 60%;          /* #3b82f6 (59 130 246) */
  --secondary: 212 94% 68%;        /* #60a5fa (96 165 250) */
  --card: 0 0% 9%;               /* #ffffff */
  --card-foreground: 0 0% 100%     /* #171717 */
}

/* @media (prefers-color-scheme: dark) {
:root {
--background: #0a0a0a;
--foreground: #ededed;
}
} */

@layer base {
    h1 {
        @apply text-3xl font-bold;
      }
      
      h2 {
        @apply text-2xl font-semibold;
      }
      
      h3 {
        @apply text-xl font-medium;
      }
      
      h4 {
        @apply text-lg font-medium;
      }
      
      h5 {
        @apply text-base font-normal;
      }
      
      h6 {
        @apply text-sm font-normal;
      }
  :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2, 94.7%, 67.8%; /*222.2 47.4% 11.2%*/
        --primary-foreground: 217.2, 94.0%, 59.8%; /* 210 40% 98% */
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2, 94.0%, 59.8%; /* 210 40% 98% */
        --primary-foreground: 222.2, 94.7%, 67.8%; /*222.2 47.4% 11.2%*/
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer components {
    .input-skin {
        @apply border border-skin-muted/50 shadow rounded-lg px-4 py-2 text-start focus:outline-2 focus:outline-skin-primary w-full text-skin-foreground;
    }
    .button-skin {
        @apply bg-skin-primary text-skin-base hover:bg-skin-secondary text-xs font-semibold uppercase px-4 py-2 rounded-lg;
    }
    .label-skin {
        @apply text-skin-muted text-xs font-semibold uppercase;
    }
    .skin {
        @apply bg-skin-primary text-skin-base;
    }
    .card-skin {
        @apply bg-skin-base text-skin-foreground border border-skin-muted/50 rounded-lg shadow;
    }
    .card-skin-header {
        @apply border-b border-skin-muted/50 p-4 uppercase font-semibold text-sm;
    }
    .card-skin-content {
        @apply p-4;
    }
}



@layer base {
  /* * {
    @apply border-border;
    } */
  body {
    @apply bg-background text-foreground border-red-500;
    }
}







@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}